@use "@coreui/coreui/scss/coreui" as * with ($enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  color: #182B4D;
}

.card-title {
  color: #182B4D !important;
  font-weight: 600 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 30px !important;
}
.card-title-cancel{
  color: #182B4D !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  margin-top: 10px !important;
}
.card_description {
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  color: #182b4d87;
}

// *, *::before, *::after {
//   box-sizing: initial !important;
// }
.fix_height {
  height: 50px !important;
}

.permission_multi_select {
  height: auto !important;
}

.multiSelectContainer {
  background: white;
  // height: 48px;
  border: 1px solid #dbdfe6;
  border-radius: 15px;
}

.searchWrapper {
  border: none !important;
  border-radius: 4px;
  min-height: 22px;
  padding: 5px;
  position: relative;
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.sidebar {
  background: #0860FB !important;
}

.text_color {
  color: #0860FB;
}

.sidebar-nav {
  padding-right: 0 !important;
}

.sidebar-nav .nav-link,
.sidebar-footer {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 30px !important;
  border-top-left-radius: 30px !important;
  padding: 18px 0 18px 18px !important;
  color: white;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.219);
}

.sidebar-footer {
  justify-content: flex-start !important;
  gap: 11px;
  cursor: pointer;
}

.sidebar-toggler::before {
  background-color: white !important;
}

.sidebar-nav .nav-link.active {
  color: #0860FB;
  background: white;
}

.sidebar-nav .nav-link {
  height: 50px !important;
}

.sidebar-nav .nav-link.active .nav-icon {
  color: #0860FB;
}

.sidebar-nav .nav-link:hover {
  color: #0860FB;
  background: white;
  text-decoration: none;
}

.sidebar-nav .nav-link:hover .nav-icon {
  color: #0860FB;
}

.sidebar-nav .nav-link .nav-icon {
  color: white;
}

.header>.container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

// .sidebar-toggler {
//   margin-inline-start: auto;
// }

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header>.container-fluid+.container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

.back_icon {
  color: #0860FB;
  cursor: pointer;
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}


.registration_form {
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7F0FF;
  margin-top: 20px;
  padding: 50px;
}

.register_input {
  height: 50px;
  border-radius: 15px;
}

.sidebar_outer {
  border-radius: 15px !important;
  padding-right: 0px !important;
  padding-left: 1rem !important;
}

.add_new_butn {
  background: #0860FB;
  color: white;
  height: 40px;
}

.add_new_butn:hover,
.delet_yes:hover {
  background: white !important;
  color: #0860FB !important;
  border: 1px solid #0860FB !important;
}

.delet_yes {
  background: #0860FB;
  color: white;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
}

.delet_cancel {
  background: white;
  color: #0860FB;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
}


.custom-date-range-picker .coreui-date-picker {
  background-color: #f8f9fa;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-date-range-picker .coreui-input {
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 8px 12px;
}

.custom-date-range-picker .coreui-input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

.date-picker-trigger {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  display: inline-block;
}

.date-picker-trigger span {
  font-size: 14px;
  color: #333;
}

.dropdown-item {
  cursor: pointer;
}

.input_icons {
  background: white !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

.seacrh_input {
  border-left: none !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  height: 50px !important;
}

.seacrh_input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.seacrh_input::placeholder {
  color: #182B4D !important;
}

.main_table th {
  color: #182B4D !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "DM Sans", sans-serif !important;
  padding: 15px 10px;
  background: #E7F0FF;
}

.modal.fade.show {
  background: #0860fb2e !important;
  z-index: 99999 !important;
}

.main_table td {
  color: #182B4D !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "DM Sans", sans-serif !important;
  padding: 15px 10px;
}

// .pagination_outer {
//   width: 100%;
// }

.pagination_section {
  background: #182b4d;
  padding: 8px 20px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
  width: 100%;
}

.pagination_section .pagination {
  margin-bottom: 0px;
  gap: 10px;
}

.showing_page {
  color: white;
  font-size: 13px;
  margin-bottom: 0px;
}

.action_icons {
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(24, 43, 77);
  font-weight: 600;
}

.pagination .page-item .page-link {
  background: #272B42;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.prev_next .page-link {
  background: white !important;
  color: #182B4D !important;
}

.search_input_group {
  width: 60% !important;
}

.search_input_group_reports {
  width: 100% !important;
}

.date_filter_section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.filter_butn {
  border: 1px solid #ccc !important;
  border-radius: 12px;
  height: 50px;
  font-weight: 600;
  white-space: nowrap;
  color: #182B4D;
  background: white;
}

.select_location_field {
  width: 90% !important;
  height: 50px;
  margin-left: auto;
  border-radius: 15px;
}

.location_Details_section {
  border-radius: 115px;
  padding: 15px;
  width: 100%;
  background: #182B4D;
}

.badminton_bg img {
  width: 180px;
  background: white;
  border-radius: 100px;
  padding: 10px;
  height: 180px;
}

.profile_image img {
  width: 80px;
  background: white;
  border-radius: 100px;
  height: 80px;
  padding: 3px;
}

.detail_title {
  color: #0860fb;
  margin-bottom: 0px;
  font-size: 16px;
}

.details_description {
  color: white;
  margin-bottom: 0px;
  font-size: 15px;
  text-transform: capitalize;
}

.address_Section {
  background: #F2F2FA;
  border: 1px solid #EBEBEB;
  padding: 15px;
  border-radius: 10px;
}

.modal_body_court {
  padding: 0px !important;
  background: #E7F0FF;
  border-radius: 10px !important;
}

.address_text {
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;

}

.add_court_modal {
  border-radius: 10px;
  border: none;
  background: #E7F0FF;
  padding: 40px 20px;
}

.form-control:focus {
  background-color: white !important;
  border-color: 0.85px solid #D9D9D9 !important;
  border: 0.85px solid #D9D9D9 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: #B3B5B6 !important;
}

.add_court_label {
  font-size: 15px;
  color: #182b4d;
  font-weight: 600;
}

.input_section {
  background: white !important;
  border: 1px solid #e7e7e7;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

.form_outer_section {
  width: 60%;
  margin: auto;
}

.form_inner_section {
  width: 100%;
}

.input_section label {
  color: #0860fb;
  font-size: 13px;
}

.error_message {
  color: red;
  font-size: 14px;
}

.input_section input {
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.input_section input:focus {
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.input_section input::placeholder {
  font-size: 14px !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  background: transparent !important;
}

.add_location_form {
  background: #E7F0FF;
  border-radius: 15px;
  padding: 50px;
  margin: 15px 0px;
}

.add_location_form label {
  font-size: 15px;
  color: #182B4D;
  font-weight: 500;
}

.add_location_form input::placeholder {
  font-size: 15px;
}

.edit_icon {
  color: #007bff;
  cursor: pointer;
}

.delete_icon {
  color: red;
  cursor: pointer;
}

.view_icon {
  color: #182B4D;
  cursor: pointer;
  font-size: 16px;
}

.form-check-input:checked {
  background-color: #0860fb !important;
  border-color: #39f !important;
}

.form-check-input {
  height: 22px !important;
  width: 50px !important;
}

.text_color a {
  color: #0860fb;
  text-decoration: none;
}

.react-tel-input .form-control {
  border: none !important;
  width: 100% !important;
}

.simplebar-mask {
  margin-top: 85px !important;
}

.react-tel-input .flag-dropdown {
  border-right: 1px solid #cacaca !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.report_cards {
  background: #E7F0FF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  align-items: center;
}

.report_card_title {
  font-size: 20px;
  font-weight: 600;
  color: #0860FB;
  margin-bottom: 0px;
}

.report_card_Desc {
  font-size: 16px;
  font-weight: 500;
  color: #182B4D;
  margin-bottom: 0px;
}

.report_card_image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 18px;
  background: #c0dfff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_outer {
  width: 100%;
  height: 100vh;
  position: fixed;
  /* Ensures the loader stays in position even if the page scrolls */
  top: 0;
  left: 0;
  background: #1212122e;
  /* A slightly transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Make sure it appears on top */
}

.loader {
  color: #0860FB;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  color: #0860FB;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-input:focus {
  border-color: #007bff;
}

.forgot_email {
  color: #0860FB;
}

.resend_otp {
  color: #0860FB;
  cursor: pointer;
}

.user_phone {
  color: #0860FB;
  font-size: 14px;
}

.upcoming_booking {
  border: 1px solid #3d99f5;
  background: #E7F0FF;
  font-size: 14px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.upcoming_booking:hover {
  border: 1px solid #3d99f5;
  background: #E7F0FF;
  font-size: 14px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.login_outer {
  height: 100vh;
}

@media screen and (max-width: 580px) {
  .registration_form {
    height: 100%;
  }

  .date_filter_section {
    justify-content: left;
  }

  .login_outer {
    height: auto;
  }

  .location_Details_section {
    border-radius: 30px;
  }
}

.table_flow {
  min-height: 380px;
  height: 337px;
  overflow-y: auto;
  overflow-x: auto;
}

/* Scrollbar track (background) */
.table_flow::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar handle (thumb) */
.table_flow::-webkit-scrollbar-thumb {
  background: #0860fb;
  border-radius: 10px;
}

.table_flow:hover::-webkit-scrollbar-thumb {
  background: #0860fb;
}

.table_flow::-webkit-scrollbar {
  height: 6px;
  /* Decrease height for horizontal scrollbar */
  width: 6px;
  /* Keep width slim for vertical scrollbar */
}

.action_icons {
  cursor: pointer;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(24, 43, 77);
  font-weight: 600;
  font-size: 14px;
}

.outer_action_icons {
  position: absolute;
  top: -4px;
  right: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  z-index: 999999;
}

.location_select {
  height: 50px;
  width: 60% !important;
  margin-left: auto;
}

.cancel_status {
  height: 30px;
  font-size: 14px;
  border-radius: 15px;
  background-color: #e1e1e1;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 10px;
  text-transform: capitalize;
}

.cancel_status:focus {
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.css-13cymwt-control {
  height: 48px !important;
  border-radius: 12px !important;
  margin-top: 2px !important;
  border: 1px solid #dbdfe6 !important;
}

.css-13cymwt-control:focus-visible, .css-b62m3t-container:focus-visible, .css-1f43avz-a11yText-A11yText :focus-visible, .css-hlgwow:focus-visible{
  outline: none !important;
  box-shadow: none !important;
  height: 48px !important;
  border-radius: 12px !important;
  margin-top: 2px !important;
  border: 1px solid #dbdfe6 !important;
  border-color: #dbdfe6 !important;
}

.form-select:focus {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}