@use "@coreui/coreui/scss/coreui" as * with ($enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  color: #182B4D;
}

.card-title {
  color: #182B4D !important;
  font-weight: 600 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 30px !important;
}

.card-title-cancel {
  color: #182B4D !important;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px !important;
  margin-top: 10px !important;
}

.card_description {
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  color: #182b4d87;
}

// *, *::before, *::after {
//   box-sizing: initial !important;
// }
.fix_height {
  height: 50px !important;
}

.permission_multi_select {
  height: auto !important;
}

.multiSelectContainer {
  background: white;
  // height: 48px;
  border: 1px solid #dbdfe6;
  border-radius: 15px;
}

.searchWrapper {
  border: none !important;
  border-radius: 4px;
  min-height: 22px;
  padding: 5px;
  position: relative;
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.sidebar {
  background: #0860FB !important;
}

.text_color {
  color: #0860FB;
}

.sidebar-nav {
  padding-right: 0 !important;
}

.sidebar-nav .nav-link,
.sidebar-footer {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 30px !important;
  border-top-left-radius: 30px !important;
  padding: 18px 0 18px 18px !important;
  color: white;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.219);
}

.sidebar-footer {
  justify-content: flex-start !important;
  gap: 11px;
  cursor: pointer;
}

.sidebar-toggler::before {
  background-color: white !important;
}

.sidebar-nav .nav-link.active {
  color: #0860FB;
  background: white;
}

.sidebar-nav .nav-link {
  height: 50px !important;
}

.sidebar-nav .nav-link.active .nav-icon {
  color: #0860FB;
}

.sidebar-nav .nav-link:hover {
  color: #0860FB;
  background: white;
  text-decoration: none;
}

.sidebar-nav .nav-link:hover .nav-icon {
  color: #0860FB;
}

.sidebar-nav .nav-link .nav-icon {
  color: white;
}

.header>.container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

// .sidebar-toggler {
//   margin-inline-start: auto;
// }

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header>.container-fluid+.container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

.back_icon {
  color: #0860FB;
  cursor: pointer;
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}


.registration_form {
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7F0FF;
  margin-top: 20px;
  padding: 50px;
}

.register_input {
  height: 50px;
  border-radius: 15px;
}

.sidebar_outer {
  border-radius: 15px !important;
  padding-right: 0px !important;
  padding-left: 1rem !important;
}

.add_new_butn {
  background: #0860FB;
  color: white;
  height: 40px;
  white-space: nowrap;
}

.add_new_butn:hover,
.delet_yes:hover {
  background: white !important;
  color: #0860FB !important;
  border: 1px solid #0860FB !important;
}

.delet_yes {
  background: #0860FB;
  color: white;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
}

.delet_cancel {
  background: white;
  color: #0860FB;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 600;
}


.custom-date-range-picker .coreui-date-picker {
  background-color: #f8f9fa;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-date-range-picker .coreui-input {
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 8px 12px;
}

.custom-date-range-picker .coreui-input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

.date-picker-trigger {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  display: inline-block;
}

.date-picker-trigger span {
  font-size: 14px;
  color: #333;
}

.dropdown-item {
  cursor: pointer;
}

.input_icons {
  background: white !important;
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

.seacrh_input {
  border-left: none !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  height: 50px !important;
}

.seacrh_input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

.seacrh_input::placeholder {
  color: #182B4D !important;
}

.main_table th {
  color: #182B4D !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  font-family: "DM Sans", sans-serif !important;
  padding: 15px 10px;
  background: #E7F0FF;
}

.modal.fade.show {
  background: #0860fb2e !important;
  z-index: 99999 !important;
}

.main_table td {
  color: #182B4D !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  font-family: "DM Sans", sans-serif !important;
  padding: 15px 10px;
}

// .pagination_outer {
//   width: 100%;
// }

.pagination_section {
  background: #182b4d;
  padding: 8px 20px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
  width: 100%;
}

.pagination_section .pagination {
  margin-bottom: 0px;
  gap: 10px;
}

.showing_page {
  color: white;
  font-size: 13px;
  margin-bottom: 0px;
}

.action_icons {
  cursor: pointer;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(24, 43, 77);
  font-weight: 600;
}

.pagination .page-item .page-link {
  background: #272B42;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.prev_next .page-link {
  background: white !important;
  color: #182B4D !important;
}

.search_input_group {
  width: 60% !important;
}

.search_input_group_reports {
  width: 100% !important;
}

.date_filter_section {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.filter_butn {
  border: 1px solid #ccc !important;
  border-radius: 12px;
  height: 50px;
  font-weight: 600;
  white-space: nowrap;
  color: #182B4D;
  background: white;
}

.select_location_field {
  width: 90% !important;
  height: 50px;
  margin-left: auto;
  border-radius: 15px;
}

.location_Details_section {
  border-radius: 115px;
  padding: 15px;
  width: 100%;
  background: #182B4D;
}

.badminton_bg img {
  width: 180px;
  background: white;
  border-radius: 100px;
  padding: 10px;
  height: 180px;
}

.profile_image img {
  width: 80px;
  background: white;
  border-radius: 100px;
  height: 80px;
  padding: 3px;
}

.detail_title {
  color: #0860fb;
  margin-bottom: 0px;
  font-size: 16px;
}

.details_description {
  color: white;
  margin-bottom: 0px;
  font-size: 15px;
  text-transform: capitalize;
}

.address_Section {
  background: #F2F2FA;
  border: 1px solid #EBEBEB;
  padding: 15px;
  border-radius: 10px;
}

.modal_body_court {
  padding: 0px !important;
  background: #E7F0FF;
  border-radius: 10px !important;
}

.address_text {
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;

}

.add_court_modal {
  border-radius: 10px;
  border: none;
  background: #E7F0FF;
  padding: 40px 20px;
}

.form-control:focus {
  background-color: white !important;
  border-color: 0.85px solid #D9D9D9 !important;
  border: 0.85px solid #D9D9D9 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.form-control::placeholder {
  color: #B3B5B6 !important;
}

.add_court_label {
  font-size: 15px;
  color: #182b4d;
  font-weight: 600;
}

.input_section {
  background: white !important;
  border: 1px solid #e7e7e7;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

.user_input_section {
  background: #D2E3FF !important;
  border: 1px solid #EBEBEB;
  padding: 5px 10px;
  width: 100%;
  border-radius: 10px;
}

.form_outer_section {
  width: 60%;
  margin: auto;
  display: flex !important;
  align-items: center;
  height: 100vh;
}

.form_inner_section {
  width: 100%;
}

.input_section label,
.user_input_section label {
  color: #0860fb;
  font-size: 13px;
}

.error_message {
  color: red;
  font-size: 14px;
}

.input_section input,
.user_input_section input,
.user_input_section textarea {
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.input_section input:focus,
.user_input_section input:focus,
.user_input_section textarea:focus {
  border: none !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
}

.input_section input::placeholder,
.user_input_section input::placeholder .user_input_section textarea::placeholder {
  font-size: 14px !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  background: transparent !important;
}

.add_location_form {
  background: #E7F0FF;
  border-radius: 15px;
  padding: 50px;
  margin: 15px 0px;
}

.add_location_form label {
  font-size: 15px;
  color: #182B4D;
  font-weight: 500;
}

.add_location_form input::placeholder {
  font-size: 15px;
}

.edit_icon {
  color: #007bff;
  cursor: pointer;
}

.delete_icon {
  color: red;
  cursor: pointer;
}

.view_icon {
  color: #182B4D;
  cursor: pointer;
  font-size: 16px;
}

.form-check-input:checked {
  background-color: #0860fb !important;
  border-color: #39f !important;
}

.form-check-input {
  height: 22px !important;
  width: 50px !important;
}

.text_color a,
.text_color span {
  color: #0860fb;
  text-decoration: none;
  font-weight: 600;
}

.text_color span:hover,
.text_color span:focus,
.text_color span:focus-visible,
.text_color:active {
  color: #0860fb;
  text-decoration: none;
  border: none !important;
  outline: none !important;
}

.react-tel-input .form-control {
  border: none !important;
  width: 100% !important;
}

.simplebar-mask {
  margin-top: 85px !important;
}

.react-tel-input .flag-dropdown {
  border-right: 1px solid #cacaca !important;
  border-top: none !important;
  border-left: none !important;
  border-bottom: none !important;
}

.report_cards {
  background: #E7F0FF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  align-items: center;
}

.report_card_title {
  font-size: 20px;
  font-weight: 600;
  color: #0860FB;
  margin-bottom: 0px;
}

.report_card_Desc {
  font-size: 16px;
  font-weight: 500;
  color: #182B4D;
  margin-bottom: 0px;
}

.report_card_image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  padding: 18px;
  background: #c0dfff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_outer {
  width: 100%;
  height: 100vh;
  position: fixed;
  /* Ensures the loader stays in position even if the page scrolls */
  top: 0;
  left: 0;
  background: #1212122e;
  /* A slightly transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Make sure it appears on top */
}

.loader {
  color: #0860FB;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-input {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  color: #0860FB;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.otp-input:focus {
  border-color: #007bff;
}

.forgot_email {
  color: #0860FB;
}

.resend_otp {
  color: #0860FB;
  cursor: pointer;
}

.user_phone {
  color: #0860FB;
  font-size: 14px;
}

.upcoming_booking {
 
  background: #E7F0FF;
  font-size: 14px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

// .upcoming_booking:hover {
//   border: 1px solid #3d99f5;
//   background: #E7F0FF;
//   font-size: 14px;
//   border-bottom-left-radius: 0px;
//   border-bottom-right-radius: 0px;
// }

.login_outer {
  height: 100vh;
}

.selected_type {
  border: 1px solid #3d99f5;
  background: white;
  background-color: white;
  color: #3d99f5;
  font-weight: 500;
}

.selected_type:hover {
  background: #0860FB;
  color: white;
  height: 40px;
}

.selected_type:focus {
  border: 1px solid #3d99f5;
  background: white;
  background-color: white;
  color: #3d99f5;
  font-weight: 500;
}

.selected_date {
  padding: 10px;
  border: 1px solid #ddd;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  height: 50px;
  background: white;
  text-align: center
}

.select_location {
  border: none !important;
}

@media screen and (max-width: 768px) {
  .court-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)) !important;
    gap: 15px;
  }


  .multi-step-container {
    display: block !important;
  }

  .stepper {
    width: 100% !important;
    height: 70px;
  }

  .step-content {
    padding: 0px !important;
    margin-top: 15px !important;
  }

  .stepper ul {
    display: flex;
    gap: 15px;
  }

  .sidebar.sidebar-dark.sidebar-fixed.show.p-2.sidebar_outer {
    z-index: 999999 !important;
  }
}

@media screen and (max-width: 580px) {
  .payment_form {
    width: auto !important;
    margin: auto;
  }

  .super_admin_logo {
    width: 40% !important;
  }

  .button-row {
    gap: 10px !important;
  }

  .next-btn,
  .prev-btn {
    padding: 7px 10px !important;
  }

  .duration_time {
    font-size: 13px !important;
  }

  .time-row {
    gap: 10px !important;
  }

  .duration_time {
    width: 80px !important;
    text-align: center;
  }

  .form_outer_section {
    width: 95%;
    height: auto;
  }

  .login-banner-image {
    width: 60% !important;
  }

  .user_login_section img {
    display: none !important;
  }

  .forgot-banner-image {
    width: 60% !important;
  }

  .form_inner_section {
    margin: 25px 0px;
  }

  .card-title {
    font-size: 24px !important;
  }

  .form_inner_section img {
    width: 70% !important;
  }

  .add_court_modal img {
    width: 40% !important;
  }

  .stepper li {
    margin-bottom: 10px !important;
  }

  .book_court_btn {
    margin: auto !important;
    display: flex;
  }

  .date_section {
    width: 70%;
  }

  .app_sction {
    text-align: center !important;
  }

  .order_section1 img {
    width: 60% !important;
  }

  .how_works_text p {
    font-size: 15px;
  }

  .how_work_heading {
    font-size: 28px !important;
  }

  .selected_date {
    width: 100%;
  }

  .search_butn {
    width: 30%;
  }

  .date_filter_section {
    margin-top: 5px !important;
    width: 100% !important;
  }

  .filter_butn {
    width: 100% !important;
    padding: 10px 5px !important;
  }

  .banner_img {
    // width: 100% !important;
    margin-top: 20px !important;
  }

  .banner_title {
    font-size: 28px !important;
    text-align: center !important;
  }

  .banner_desc {
    font-size: 15px !important;
    text-align: center !important;
  }

  .download_app {
    font-size: 28px !important;
    margin-bottom: 0.5rem !important;
  }

  .lorem_text {
    font-size: 15px !important;
  }

  .order_section1 {
    order: 2;
    margin-top: 20px;
  }

  .bannerimage2 {
    margin: auto !important;
    display: flex !important;
  }

  .order_section2 {
    order: 1;
    padding: 0px !important;
    margin-top: 35px;
  }

  .copyright_section {
    text-align: center !important;
  }

  .footer_list {
    justify-content: center;
  }

  .app_store_section {
    margin: 0 !important;
  }

  .registration_form {
    height: 100%;
  }

  .date_filter_section {
    justify-content: left;
  }

  .login_outer {
    height: auto;
  }

  .location_Details_section {
    border-radius: 30px;
  }

  .stepper ul {
    display: block;
  }

  .stepper {
    width: 100% !important;
    height: auto !important;
  }

  .book_court_section {
    padding: 20px 10px !important;
  }

  .showing_page {
    text-align: center;
  }

  .pagination_section .pagination {
    display: flex !important;
    justify-content: center !important;
  }

  .search_input_group {
    width: 90% !important;
  }

  .court_location {
    width: 100% !important;
  }
}

.table_flow {
  min-height: 380px;
  height: 337px;
  overflow-y: auto;
  overflow-x: auto;
}

/* Scrollbar track (background) */
.table_flow::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar handle (thumb) */
.table_flow::-webkit-scrollbar-thumb {
  background: #0860fb;
  border-radius: 10px;
}

.table_flow:hover::-webkit-scrollbar-thumb {
  background: #0860fb;
}

.table_flow::-webkit-scrollbar {
  height: 6px;
  /* Decrease height for horizontal scrollbar */
  width: 6px;
  /* Keep width slim for vertical scrollbar */
}

.action_icons {
  cursor: pointer;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(24, 43, 77);
  font-weight: 600;
  font-size: 14px;
}

.outer_action_icons {
  position: absolute;
  top: -4px;
  right: 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  z-index: 999999;
}

.location_select {
  height: 50px;
  width: 60% !important;
  margin-left: auto;
}

.cancel_status {
  height: 30px;
  font-size: 14px;
  border-radius: 15px;
  background-color: #e1e1e1;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 10px;
  text-transform: capitalize;
}

.cancel_status:focus {
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.css-13cymwt-control {
  height: 48px !important;
  border-radius: 12px !important;
  margin-top: 2px !important;
  border: 1px solid #dbdfe6 !important;
}

.css-13cymwt-control:focus-visible,
.css-b62m3t-container:focus-visible,
.css-1f43avz-a11yText-A11yText :focus-visible,
.css-hlgwow:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  height: 48px !important;
  border-radius: 12px !important;
  margin-top: 2px !important;
  border: 1px solid #dbdfe6 !important;
  border-color: #dbdfe6 !important;
}

.form-select:focus {
  border-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Ensure to target the dropdown menu with a specific class */
.custom-dropdown-menu {
  padding: 0px 10px !important;
  width: 115px !important;
  /* Force the width to be 115px */
  min-width: 115px !important;
  /* Ensure no minimum width is overriding */
  max-width: 115px !important;
  /* Prevent any maximum width from interfering */
}

/* Add additional CSS to prevent layout shifts if needed */
.custom-dropdown-menu .dropdown-item {
  white-space: nowrap;
  /* Ensure text doesn't break into multiple lines */
}

@media screen and (min-width: 1880px) and (max-width: 2560px) {
  .table_flow {
    min-height: 72vh;
    height: 72vh;
    overflow-y: auto;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1880px) {
  .table_flow {
    min-height: 64vh;
    height: 64vh;
    overflow-y: auto;
  }
}

@media screen and (max-width: 1220px) {
  .date_filter_section {
    justify-content: start;
  }
}

.select_location {
  width: 100%;
  height: 30px;
  padding-inline-start: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.select_location option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.css-1m9x2j-control,
.css-1m9x2j-control:hover,
.css-1m9x2j-control:focus,
.css-1m9x2j-control:focus-visible {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.css-1m9x2j-control {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.css-181as9g-control {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

.select__control.css-gkxu6j-control {
  border-radius: 15px !important;
  border: 1px solid #dbdfe6 !important;
}

.book_court_btn {
  background: #0860FB;
  border-radius: 34.5px;
  color: white;
  border: 1px solid #0860FB;
  padding: 5px 15px;
  height: 40px;
  font-weight: bold;
}

.user_name_btn {
  background: transparent;
  border-radius: 34.5px;
  color: #0860FB;
  border: 1px solid #0860FB;
  padding: 5px 10px 5px 5px;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  text-decoration: none;
}

.user_name_btn1 {
  background: transparent;
  border-radius: 34.5px;
  color: #0860FB;
  border: 1px solid #0860FB;
  padding: 5px 15px;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
  text-decoration: none;
}

.book_court_section {
  background-image: url("../assets/images/book_court_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.book_court_title {
  font-weight: 600;
  text-align: center;
}

/* MultiStepForm.css */
.multi-step-container {
  display: flex;
  font-family: Arial, sans-serif;
}

.stepper {
  width: 220px;
  background: #B1D0FF;
  padding: 20px;
  border-radius: 20px;
}

.stepper ul {
  list-style: none;
  padding: 0;
}

.stepper li {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  color: #666;
  font-weight: 500;
}

.stepper li.active {
  color: #0077ff;
}

.active .step_form_name {
  font-family: DM Sans;
  font-weight: 900;
  font-style: ExtraBold;
  font-size: 15px;
  line-height: 15.46px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #182B4D;
}

.completed .step_form_name {
  color: #0860FB;
  font-weight: 800;
}

.step_form_name {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 15.46px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #182B4D;
}

.active .circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #0077ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #182B4D;
  font-family: DM Sans;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 14px;
}

.circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #0077ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #182B4D;
  font-family: DM Sans;
  font-weight: 500;
  font-size: 14px;
}

.step-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  border-radius: 20px;
}

/* CalendarStep.css */
.calendar-container {
  background: #D2E3FF;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
}

.calendar-header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.calendar-header select {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  color: #0860fb;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day-name {
  font-weight: 600;
  color: #182B4D;
  text-align: center;
  font-size: 15px;
}

.day-cell {
  background: white;
  border-radius: 12px;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.day-cell:hover {
  background: #a7d0ff;
}

.day-cell.selected {
  background: #0077ff;
  color: white;
}

.calendar-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.next-btn {
  background: #0077ff;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.next-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.stepper li.completed {
  color: #0077ff;
}

.circle.completed-circle {
  background: #0077ff;
  color: white;
  border: 2px solid #0077ff;
}

.timeslot-container {
  background: #D2E3FF;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  font-family: Arial, sans-serif;
}

.month-select {
  margin-bottom: 15px;
}

.month-select select {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  color: #0860fb;
}

.time-row {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-row label {
  font-size: 12px;
  font-weight: bold;
  color: #0077ff;
}

.time-input select {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 14px;
}

.duration-input {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.duration-input button {
  background: #f0f0f0;
  border: 1px solid #0077ff;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  font-size: 18px;
}

.prev-btn {
  background: #0077ff;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.duration_text {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  color: #182B4D;
}

.calendar-header select:focus-visible,
.month-select select:focus-visible,
.time-input select:focus-visible {
  outline: none;
}

.court-container {
  background: #dceeff;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  font-family: Arial, sans-serif;
}

.month-select {
  margin-bottom: 20px;
}

.month-select select {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
}

.court-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 15px;
}

// .court-box {
//   width: 90px;   /* fixed width */
//   height: 90px;  /* optional if you want square buttons */
//   text-align: center;
// }

.court-box {
  background: white;
  padding: 12px 0;
  text-align: center;
  border-radius: 8px;
  border: 2px solid transparent;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.court-box span {
  font-weight: bold;
}

.court-box:hover:not(.disabled) {
  border-color: #0077ff;
}

.court-box.selected {
  border-color: #0077ff;
}

.day-cell.disabled {
  background: #bcd4f6 !important;
  color: #7a8aa8 !important;
  cursor: not-allowed !important;
}

.checkout-container {
  background: #D2E3FF;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
}

.section {
  margin-bottom: 20px;
}

.details-row {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.label_text {
  font-size: 14px;
  color: #707C90;
  margin-bottom: 0px;
}

.value_text {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 14px;
  color: #4F658C;
}

.booking-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}



.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.my_details_title {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  color: #182B4D;
}

.banner_title {
  color: #182B4D;
  font-weight: 800;
  font-size: 60px;
  line-height: 1.1;
}

.links_url {
  text-decoration: none !important;
}

.main_app_heading {
  background-color: #0860FB;
  color: white;
  text-align: center;
}

.main_app_heading p {
  margin-bottom: 0px;
}

.search_location_input {
  width: 85%;
  height: 50px;
  border-radius: 77px;
  border-width: 1px;
  background: #d2e3ff;
  border: 1px solid #EBEBEB;
  padding: 0px 15px;
}

.search_location_input:focus {
  outline: none;
}

.search_icons {
  background: #0860fb;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
}

.locations_name_section {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 15px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #C2DAFF;
}

.even_bg {
  background: #D2E3FF;
}

.odd_bg {
  background: #DBE9FF;
}

.location_detail_section {
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.location_check {
  background: #b5d8fb;
  padding: 3px 6px;
  border-radius: 50px;
  border: 1px solid #0860fb;
  color: #0860fb;
  width: 22px;
  height: 22px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location_name {
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  margin-bottom: 0px;
}

.location_address {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
  color: #707C90;
}

.location_details {
  text-align: left !important;
}

.continue_butn {
  background: #0860FB;
  border-radius: 15px;
  color: white;
  border: 1px solid #0860FB;
  padding: 5px 25px;
  height: 40px;
  font-weight: bold;
}

.selected_name {
  border: 2px solid #0860FB;
}

.user_login_section {
  text-align: left !important;
}

.privacy_policy_text {
  font-size: 14px;
}

.login-banner-image {
  width: 80%;
}

.user_input_section .react-tel-input .form-control {
  height: 23px !important;
  margin-left: 45px !important;
  background: transparent !important;
}

.user_input_section input,
.user_input_section textarea {
  background: transparent !important;
}

.forgot-banner-image {
  width: 70%;
}

.payment-container {
  background: #dceeff;
  padding: 20px;
  border-radius: 12px;
  width: 700px;
  font-family: Arial, sans-serif;
}

.section {
  margin-bottom: 20px;
}

.payment-option {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  width: 220px;
  justify-content: space-between;
}

.payment-option input {
  accent-color: #0077ff;
}

.payment-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}

.payment-logo {
  width: 20px;
  height: auto;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.label {
  font-size: 14px;
  color: #333;
}

.value {
  font-size: 14px;
  font-weight: bold;
}

.summary {
  color: #0077ff;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #b0c8e8;
  margin: 20px 0;
}

.pay-btn {
  background: #0077ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.booking-container {
  margin: 20px 0px;
  padding: 15px 0px;
  overflow-x: auto;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.booking-table th {
  background: #0056ff;
  color: white;
  text-align: left;
  padding: 12px;
  font-size: 14px;
  white-space: nowrap;
}

.booking-table td {
  padding: 12px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.location,
.datetime,
.contact,
.status {
  display: flex;
  flex-direction: column;
}

.loc-id {
  color: #0056ff;
  font-weight: 500;
  font-size: 13px;
}

.loc-name {
  font-size: 13px;
}

.status span {
  font-size: 13px;
}

.status .confirmed {
  color: green;
  font-weight: bold;
  text-transform: capitalize;
}

.status .pending {
  color: orange;
  font-weight: bold;
}

.action-btn {
  background: #e8f1ff;
  border: none;
  color: #0056ff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50%;
}

.letter_validtaion {
  color: #707C90;
  font-size: 14px;
  display: flex;
}

.header_links {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  color: #182B4D;
}

.header_links:hover {
  font-weight: 600;
}

.user-menu {
  position: relative;
  display: inline-block;
}

.user-avatar {
  border-radius: 50%;
}

.user_dropdown {
  position: absolute;
  right: 0;
  margin-top: 5px;
  width: 150px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.user_dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user_dropdown li {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.user_dropdown li:hover {
  background: #e2e2e2;
  color: #182B4D;
  font-weight: 600;
}

.summary-container {
  background: #D2E3FF;
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
  margin: 20px auto;
}

.summary-section {
  padding: 15px;
  border-bottom: 1px solid #B7CEF0;
}

.summary-section-last {
  padding: 15px;
}

.summary-section h3,
.summary-section-last h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #1a1a1a;
}

.summary-row,
.summary-row-last {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}


.summary-row div {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.summary-row-last div {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 13px;
  color: #0056ff;
  margin-bottom: 3px;
  font-weight: 600;
}

.value {
  font-size: 14px;
  font-weight: 500;
  color: #1a1a1a;
}

.value.blue {
  color: #0056ff;
  font-weight: bold;
}

.summary-footer {
  text-align: center;
  margin-top: 20px;
}

.rebook-btn {
  background: #0056ff;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.rebook-btn:hover {
  background: #003bb3;
}

.selected_date_month {
  background: white;
  padding: 8px 15px;
  border-radius: 8px;
  color: #0077ff;
  cursor: pointer;
}

.payment-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.payment-card {
  background: #dbe9fd;
  padding: 30px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
}

.success_icon {
  color: #07cf36;
  font-size: 48px;
}

.cancel_icon {
  font-size: 48px;
  color: #fc0019;
}


.icon.success {
  color: #28a745;
}

.icon.failed {
  color: #fc0019;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.title.success {
  color: #0860fb;
}

.title.failed {
  color: #fc0019;
}

.message {
  color: #555;
  margin-bottom: 20px;
  font-size: 16px;
}

.btn {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.success {
  background-color: #0860fb;
  color: #fff;
}

.btn.success:hover {
  background-color: #0659e7;
}

.btn.failed {
  background-color: #ff0019;
  color: #fff;
}

.btn.failed:hover {
  background-color: #c82333;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.checking {
  font-size: 16px;
  color: #666;
}

.payment_form {
  width: 500px;
  margin: auto;
}

.duration_time {
  width: 100px;
  text-align: center;
}

.active .page-link {
  background: #0860FB !important;
}

.profile-pic-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #007bff;
  color: white;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}

.day-cell.prev-month {
  background-color: #f0f0f0 !important;
  /* faded bg */
  color: #999 !important;
  /* dim text */
}

.banner_section {
  background-image: url("../assets/images/badminton.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  height: 400px;
  object-fit: cover;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: 0;
  left: 30px;
  right: 30px;
  z-index: -1;
}

.navbar-light {
  background-color: transparent !important;
}

.how_works_icon {
  font-size: 50px;
  color: #182B4D;
}

.how_works_step {
  font-size: 22px;
  color: #0860FB;
  font-weight: 600;
}

.how_works_text h4 {
  font-size: 20px;
  font-weight: 600;
}

.how_works_text p {
  font-size: 16px;
}

.location_back {
  color: #182B4D;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.end_time {
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
}

.how_work_heading {
  font-size: 35px;
  font-weight: 600;
  color: #182B4D;
}

.how_work_section {
  background: #D2E3FF;
  padding: 20px 40px;
  border-radius: 20px;
}

.copyright_section {
  text-align: end;
  font-size: 14px;
}

.footer_list {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0px;
  font-size: 14px;
}

.footer_list a {
  color: #182B4D !important;
  text-decoration: none !important;
  cursor: pointer;
}

.footer_list a:hover {
  color: #0860FB !important;
  font-weight: 500 !important;
}

.download_app {
  color: black;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 1rem;
}

.lorem_text {
  color: #757373;
  font-weight: 400;
  font-size: 18px;
}

.privacy-policy-heading {
  font-weight: 600;
}

.privacy-policy-effective {
  font-size: 18px;
  font-weight: 500;
}

.privacy_points {
  font-size: 24px;
  font-weight: 600;
}

.court_location {
  width: 90%;
}

.login_section {
  position: relative;
  height: 100vh;
}

.super_admin_logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .selected_date {
    font-size: 14px !important;
  }

  .date_section {
    width: 75% !important;
  }

  .main_app_heading p {
    font-size: 12px !important;
  }

  .navbar-brand {
    width: 60% !important;
  }

  .navbar-brand img {
    width: 100% !important;
  }

  // .payment_form {
  //   width: 300px;
  //   margin: auto;
  // }
}

.main_container {
  max-width: 100% !important;
}

@media screen and (max-width: 375px) {
  .navbar-brand {
    width: 60% !important;
  }

  .navbar-brand img {
    width: 100% !important;
  }
}

@media screen and (max-width: 580px) {
  .login_image_banner {
    display: none !important;
  }

  .admin_login_form {
    margin-top: 60px !important;
  }

  .stepper {
    width: 100% !important;
    height: auto !important;
    overflow-x: auto;
    /* allow scroll */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    /* smooth scrolling */
  }

  .profile-pic-wrapper .profile-pic {
    width: 112px !important;
    height: 112px !important;
  }

  .stepper ul {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .stepper li {
    flex: 0 0 auto;
    margin-right: 12px;
    margin-bottom: 0 !important;
  }

  /* Hide scrollbar */
  .stepper::-webkit-scrollbar {
    display: none;
  }

  .stepper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

// @media screen and (min-width: 320px) and (max-width: 375px) {
//   .payment_form {
//     width: 320px !important;
//     margin: auto;
// }
// }

// @media screen and (min-width: 376px) and (max-width: 425px) {
//   .payment_form {
//     width: 350px !important;
//     margin: auto;
// }
// }

// @media screen and (min-width: 426px) and (max-width: 580px) {
//   .payment_form {
//     width: 500px !important;
//     margin: auto;
// }
// }