@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
  font-family: "DM Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  color: #182B4D;
}
.card-title{
  color: #182B4D !important;
  font-weight: 600 !important;
}
.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}
.sidebar{
   background: #0860FB !important;
}
.sidebar-nav .nav-link.active {
  color: #0860FB;
  background: white;
}
.sidebar-nav .nav-link.active .nav-icon {
  color: #0860FB;
}
.sidebar-nav .nav-link:hover {
  color: #0860FB;
  background: white;
  text-decoration: none;
}
.sidebar-nav .nav-link:hover .nav-icon {
  color: #0860FB;
}
.sidebar-nav .nav-link .nav-icon {
  color: white;
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}


.registration_form{
  width: 100%;
  height: calc(100vh - 160px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E7F0FF;
  margin-top: 20px;
  padding: 0px 20px;
}

.register_input{
  height: 50px;
  border-radius: 15px;
}
@media screen and (max-width: 580px) {
  .registration_form{
    height: 100%;
  }
}